body{
  background-color: grey;
}
h1{
  color: red;
}
#lib{
  display: flex;
}
.bing1{

  width: 150px;
  height: 135px;
  margin-left : 20px;
  background-color: yellow;
}
.bing2{

  width: 150px;
  height: 135px;
  margin-left: 20px;
  background-color: yellow;
}

.bing3{

  width: 150px;
  height: 135px;
  margin-left:  20px;
  background-color: yellow;
}
li{
  color: blue;
}
